
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Дома-Вкуси го градот</title>
    <style>
        body{
            background-color: beige;
            font-family: "Times New Roman";
        }



        .main {
            position: relative;
            margin-left: 80px;
            margin-right: 80px;
            font-size: 28px;
        }


    </style>

    <script type="text/javascript">
        function Send()
        {
            ime=document.getElementById("name");
            prezime=document.getElementById("surname");
            komentar=document.getElementById("comment");
            mail=document.getElementById("email");
            if(ime.value.length>0 && prezime.value.length>0 && komentar.value.length>0 && mail.value.length>0)
            {
                alert("Вашиот коментар е испратен. Ви Благодариме!");
                ime.value="";
                prezime.value="";
                komentar.value="";
                mail.value="";
            }
            else
            {
                alert("Ве молиме внесете ги сите податоци за да можете да испратите коментар");
            }
        }
    </script>
</head>
<body>
<div class="main">
    <div>
        <h2 style="text-align: center; padding-top: 40px">За нас</h2>
        <h4 style="padding-left: 100px"> Нашата идеја </h4>
        <p>Нашата идеја се разви со големата љубов спрема храната како и големиот број места кои што постојат во Скопје меѓутоа луѓето ретко ги посетуваат</p>
        <p> За таа цел оваа страница служи за вие да можете да ги дознаете сите актуелни места на територијата на Скопје каде што можете да пробате извонредна храна </p>
        <p> Се надеваме дека нашиот проект понатаму ќе се развие на поголема територија</p>
        <p> Ви благодариме што ја посетивте нашата страна! За било какви прашања или информации, можете да ја искористите формата долу.</p>
    </div>
    <div style="margin-left: 150px"><input type="text" id="name" style="width: 40%; margin: 10px; height: 30px; border: none" placeholder="Име">
        <input type="text" id="surname" style="width: 40%; margin: 10px; height: 30px; border: none" placeholder="Презиме">
    </div>
    <div style="margin-left: 150px"><textarea id="comment" style="width: 980px; margin: 10px; border: none" placeholder="Коментар..." rows="4"></textarea></div>
    <div style="margin-left: 150px"><input type="text" id="email" style="width: 870px; margin: 10px; height: 30px; border: none" placeholder="example@email.com">
        <input type="button" value="Испрати!" onclick="Send()" style="background-color: #86C3A6; border-radius: 5px; border:none; width: 100px; height: 30px">
    </div>
</div>
</body>
</html>

